.container {
  width: 100%;
  padding-right: calc(1.5rem * 0.5);
  padding-left: calc(1.5rem * 0.5);
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;

    &.small {
      padding-right: calc(10rem * 0.5);
      padding-left: calc(10rem * 0.5);
    }
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;

    &.small {
      padding-right: calc(10rem * 0.5);
      padding-left: calc(10rem * 0.5);
    }
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;

    &.small {
      padding-right: calc(15rem * 0.5);
      padding-left: calc(15rem * 0.5);
    }
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;

    &.small {
      padding-right: calc(20rem * 0.5);
      padding-left: calc(20rem * 0.5);
    }
  }
}
