@use "./vars.scss" as *;

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: $bg-color;
  transition: background-color 0.3s ease-in-out;
}

html.dark {
  body {
    background-color: #333;
  }
}

@import "./container.scss";
@import "./transitions/index.scss";
